<h2><%= icon_text('Workshop', 'fa-keyboard-o') %></h2>
<h3>Data structure</h3>
<p>Enginepad has rooms and messages. Messages belong to rooms. Each room has multiple messages.</p>
<p>
  To develop an app, you will need to:
  <ul>
    <li>Design a UI</li>
    <li>Get room and message data from the server and render data in views.</li>
    <li>Post data to the server and render data in views.</li>
  </ul>
</p>
<p></p>
